body {
  background-color: #121212;
   color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;   
  background-color: #121212;  
  z-index: 1000;   
}
.navbar a {
  color: #00ff88;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
}

.navbar a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.navbar .nav-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-items li {
  margin: 0 10px;
}

 

h1, h2 {
  color: #00ff88;  /* Green color for headings */
}

 
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.menu a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu a:hover {
  background-color: #444;
  color: #00ff88;
}

/* Content Section */
.container {
  display: flex;
  flex-direction: column;
  margin-top: 80px; /* To avoid content overlap with navbar */
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.text-section {
  flex: 1;
  margin-right: 20px;
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
}

.text-section h1, .text-section h2 {
  margin-bottom: 15px;
}

.text-section p {
  margin-bottom: 20px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 20px;
}

ul li h2 {
  margin-bottom: 10px;
}

.intro {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 255, 136, 0.5);
}

.i1 {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table caption {
  font-size: 20px;
  color: #00ff88;
  margin-bottom: 10px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #444;
}

table th {
  background-color: #222;
}

table td {
  background-color: #333;
}

tfoot th {
  text-align: center;
  background-color: #444;
  color: #00ff88;
  padding: 10px;
}

/* Button Styles */
.cta-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #00ff88;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: limegreen;
  color: white;
}

/* Image Section */
.image-section {
  flex: 1;
  max-width: 500px;
  margin-left: 20px;
}

.image-section img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 136, 0.5);
}

/* Footer Styles */
footer {
  background-color: #333;
  text-align: center;
  padding: 20px;
  color: white;
  margin-top: 40px;
}
